.weather_data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.weather_data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.weather_data h2 i {
    font-size: 1rem;
}

.weather_data h2 span {
    margin: 0.6rem;
}

.weather_data h2 img {
    height: 20px;
}

.graus {
    font-size: 4rem;
}


.description_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
    font-weight: bold;
    text-transform: capitalize;
}


.detalis_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}

.humidity, .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}